<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dayout</title>
    <link rel="icon" type="image/png" href="dayout.pics/logo.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/dayout.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar sticky-top navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand text-white fw-bold" href="#" id="dayout">dayout holidays</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="./dayout">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Packages
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./explore">College Tour & IV</a></li>
                  <li><a class="dropdown-item" href="./explore">Group Tour</a></li>
                  <li><a class="dropdown-item" href="./explore">Honeymoon</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./explore">Customised packages</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./explore">Profile</a></li>
                  <li><a class="dropdown-item" href="./explore">Log Out</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./explore">Switch User</a></li>
                </ul>
              </li>
              <li class="nav-item ">
                <a class="nav-link text-white" href="./contactus">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
     <!-- Tours Explore-->
    <div class="container">
     <h2>TOURS</h2>
     <br>
     <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/jaiselmer.card.jpg" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jaisalmer</h5>
              <p class="card-text">4 Days 3 nights, Per head 5000 RS ,pickup and drop, Included food and Tickets</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/goa.card.jpg" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Goa</h5>
              <p class="card-text">3 Days 2 nights, Per head 4000 RS ,pickup and drop, Included food, Night Club and Tickets</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/kashmir.card.jpg" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kashmir</h5>
              <p class="card-text">3 Days 2 nights, Per head 5000 RS ,pickup and drop, Included food , Snow Hike and Tickets</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/highrange.card.jpg" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Idukky</h5>
              <p class="card-text">3 Days 2 nights, Per head 5000 RS ,pickup and drop, Included food, Forest camp and Tickets</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>

      <h2>PACKAGES</h2>
      <br>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/college.tour" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">College Tour $ IV</h5>
              <p class="card-text">3 Days 2 nights, Per head 5000 RS ,pickup and drop, Included food and Tickets, Price varry wr location</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/group-tour.jfif" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Group and Family Tour</h5>
              <p class="card-text">3 Days 2 nights, Per head 5000 RS ,pickup and drop, Included food and Tickets, Price varry wr location</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/honeymoon-tour.avif" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Honeymoon</h5>
              <p class="card-text">3 Days 2 nights, 10000 RS ,pickup and drop, Included food , Dinner party and Tickets, Price varry wr location </p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="dayout.pics/customized-tour.png" class="img-fluid rounded-start" alt="loading">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Customised</h5>
              <p class="card-text">Connect with our customer service and plan your trip</p>
              <a href="./contactus.html" class="btn btn-warning">Book now</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <br>
    <br>

</body>